POSTGRES_PASSWORD=replace-with-secure-password
# Optional overrides:
# POSTGRES_DB=spring-boot-playground
# POSTGRES_USER=postgres
# POSTGRES_EXPORT_PORT=5432
# POSTGRES_VERSION=17
# APP_HOST_PORT=8081
# MANAGEMENT_HOST_PORT=8082
