
spring:
  # Reactive Configuration
  r2dbc:
    url: r2dbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_DB:spring-boot-playground}
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:change-me}

  # Flyway (optional, for database migrations)
  flyway:
    enabled: true
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_DB:spring-boot-playground}
    user: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:change-me}

  #Kafka
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: my-group-id
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

logging:
  level:
    root: INFO
    org.springframework.data.r2dbc: INFO
    io.r2dbc.postgresql: INFO

binance:
  spot:
    websocket:
      url: wss://stream.binance.com:9443
      symbols:
        - btcusdt
        - ethusdt
  futures:
    websocket:
      url: wss://fstream.binance.com
      symbols:
        - btcusdt
        - ethusdt
    open-interest:
      api-url: https://fapi.binance.com/futures/data/openInterestHist
    funding-rate:
      api-url: https://fapi.binance.com/fapi/v1/fundingRate
