POSTGRES_PASSWORD=replace-with-secure-password
# Optional overrides:
# POSTGRES_DB=__ARTIFACT_ID__
# POSTGRES_USER=postgres
# POSTGRES_EXPORT_PORT=5432
# APP_HOST_PORT=8080
# MANAGEMENT_HOST_PORT=8081
